@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.mid-page-container {
  width: 100vw;
  height: 100vh;
  background-color: #f6f2e7;
  background-clip: content-box;
  background: url("./Assets/corner.png") left 0 bottom 50% no-repeat fixed;
  min-width: fit-content;
}
.mid-page-wrapper {
  position: relative;
  align-content: center;
  justify-content: center;
}

.countdown-box {
  position: relative;
  display: flex;
}

.content-box {
  position: relative;
  justify-content: center;
  width: 50%;
}

.header-text {
  font-family: "Begika";
  text-align: left;
  color: #9f5b4c;
  font-size: 6.5vw;
  letter-spacing: 0.5vw;
  line-height: 7vw;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.subheader-text-location,
.subheader-text-date {
  font-family: "Nunito", sans-serif;
  text-align: left;
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 2vw;
  padding: 3vh 0 0 0;
  color: #9f5b4c;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.location-name, .date-text {
  font-weight: 700;
}

/* when the device is a desktop */
@media (min-width: 1024px) {
  .mid-page-container {
    background-size: 20%;
  }

  .content-box {
    left: 35%;
  }

  .countdown-box {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 4rem;
    justify-content: right;
  }
}

/* when the device is a tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .mid-page-container {
    background-size: 20%;
    width: fit-content;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .mid-page-wrapper {
    position: relative;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
  }

  .countdown-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10vh 0 10vh 0;
    position: relative;
    top: 0;
    left: 5%;
    right: 0;
    margin: 0;
  }

  .content-box {
    position: relative;
    width: 60%;
    left: 5%;
    padding: 0 0 10vh 0;
  }

  .header-text {
    font-size: 10vw;
    letter-spacing: 0.5vw;
    line-height: 11vw;
  }

  .subheader-text-location,
  .subheader-text-date {
    font-size: 3vw;
    line-height: 4vw;
  }
}

/* when the device is a mobile phone */
@media (max-width: 767px) {
  .mid-page-container {
    background: url("./Assets/bottom.png") left 50% bottom 0 no-repeat fixed;
    background-size: 60%;
    display: flex;
    justify-content: center;
  }

  .mid-page-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }

  .countdown-box {
    margin: 0;
    top: 0;
    padding: 5vh 0 10vh 2vh;
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .header-text {
    font-size: 11.33vw;
    letter-spacing: 0.5vw;
    line-height: 12vw;
    padding-bottom: 1vh;
  }

  .subheader-text-date,
  .subheader-text-location {
    font-size: 4vw;
    line-height: 5vw;
  }
}
