@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.page-wrapper {
  position: static;
  background: url("./Assets/corner\ 1.png") left 0 bottom 0 no-repeat fixed,
    url("./Assets/corner\ 2.png") left 0 top 0 no-repeat fixed,
    url("./Assets/corner\ 3.png") right 0 top 0 no-repeat fixed,
    url("./Assets/corner\ 4.png") right 0 bottom 0 no-repeat fixed;
  background-color: #f6f2e7;
  background-clip: content-box;
  background-size: 30%;
  min-width: fit-content;
  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  align-items: center;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 25%;
}

.names-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "Begika";
  font-size: 8vw;
  text-align: center;
  padding: 0 0 3vh 0;
  color: #9f5b4c;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.confirmation {
  font-family: "Nunito";
  font-weight: bolder;
  border-radius: 50px;
  background-color: transparent;
  border: 0.5vh solid #9f5b4c;
  font-size: 2vw;
  padding: 1vh 1.5vw;
  color: #9f5b4c;
  position: relative;
  transition: 655ms;
  transform: translateY(0);
  box-shadow: rgba(255, 145, 145, 0.15) 0px 2px 8px;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.confirmation:hover {
  background-color: #9f5b4c;
  color: #f6f2e7;
  cursor: pointer;
  transform: translateY(-7px);
  transition: 655ms;
}

/* when the device is a mobile */
@media (max-width: 767px) {
  .page-wrapper {
    background-size: 50%;
  }

  .content-wrapper {
    top: 35%;
  }

  .names-header {
    font-size: 15vw;
  }

  .confirmation {
    font-size: 4vw;
    padding: 1vh 2vw;
  }
}
