.RSVP-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f6f2e7;
}
.RSVP-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.RSVP-text {
    width: 45%;
    height: auto;
    padding: 0 10px;
    color: #9f5b4c;
}

.main-text {
    font-family: "Begika";
    font-size: 5.5vw;
}

.subheader {
    font-family: "Nunito";
    font-size: 1.7vw;
}

.RSVP-form {
    width: 45%;
    display: flex;
    height: auto;
    padding: 30px 30px;
    border-radius: 10px;
    height: fit-content;
    background-color: #faf8f3;
}

.RSVP-button {
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Nunito";
    font-size: 1.5vw;
    font-weight: 600;
    cursor: pointer;
}

.family-error-message {
    text-align: left;
    margin-top: 5px;
}
