* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Lovelace Italic";   /*Can be any text*/
    src: local("Lovelace-Italic"),
      url("./Fonts/Lovelace-Italic.otf") format("otf");
  }

  @font-face {
    font-family: "Lovelace Regular";   /*Can be any text*/
    src: local("Lovelace-Regular"),
      url("./Fonts/Lovelace-Regular.otf") format("otf");
  }

  @font-face {
    font-family: "Begika";   /*Can be any text*/
    src: local("Begika"),
      url("./Fonts/Begika.ttf") format("truetype");
  }
  @font-face {
    font-family: "Nunito";   /*Can be any text*/
    src: local("Nunito"),
      url("./Fonts/Nunito.ttf") format("truetype");
  }